# Node Modules
node_modules/
backend/node_modules/
frontend/node_modules/
backend/uploads/*
uploads/*
!uploads/.gitkeep
!uploads/default-product.png

# Environment
.env
.vite/
backend/.env
frontend/.env
